@charset "UTF-8";
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Remove the list in all browsers.
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
Remove the margin in all browsers.
*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Normalize li item
*/
li {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Add the correct link without decoration
*/
a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .section--display {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section--display {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section--no-padding {
    padding-bottom: 0px;
  }
}

.line {
  max-width: 100%;
  border-bottom: 1px solid #ececec;
}

/*line*/
.site-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*navigation*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.address__text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  margin-top: 20px;
}

.address--flex {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  font-size: xx-small;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.02em;
  }
}

.contact-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.contact-list__link {
  color: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover {
  color: #2196f3;
}

.contact-list__link:focus {
  outline: none;
  border-radius: 4px;
  color: #2196f3;
}

.contact-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contact-list__icon {
    margin-right: 08px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-list__icon {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .mobile {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .mobile {
    width: 10px;
    height: 16px;
  }
}

.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact__item:not(:last-child) {
  padding-bottom: 9px;
}

.footer-contact__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact__link:focus {
  outline: none;
  border-radius: 4px;
  color: #2196f3;
}

.footer-contact__link:hover {
  color: #2196f3;
}

.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  cursor: pointer;
}

.button-primary {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-primary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

.button-secondary {
  min-width: 78px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
  color: #ffffff;
  background-color: #2196f3;
}

.button-secondary:hover {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-third {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-third:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-third:focus {
  outline: none;
  background-color: #188ce8;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-fourth {
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .button-fourth {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .button-fourth {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

.button-fourth:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

.button-fourth {
  position: relative;
}

.button-fourth__subscribe {
  display: block;
}

.button-fourth__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 39px;
  padding-right: 41px;
  min-width: 528px;
  min-height: 581px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-button:hover {
  outline: none;
  fill: #2196f3;
}

.modal-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 50%;
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 39px;
  padding-right: 41px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.signup__headline {
  display: inline-block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.signup__form {
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
}

.comment-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  position: relative;
  margin-bottom: 10px;
}

.form-icon {
  position: relative;
}

.form-icon__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon__input:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.form-icon__input:focus-within + .form-icon__image {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon__image {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.comment-field {
  margin-bottom: 20px;
}

.comment-field__textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field__textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field__textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field__textarea::placeholder {
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-field__textarea {
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field__textarea:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.checkbx {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__input:focus + .checkbox__icon {
  border: 2px solid #2a2a2a;
  border-radius: 2px;
}

.checkbox__icon {
  display: inline-block;
  margin: 5px 5px 7px 13px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
}

.checkbox__icon .checkbox__svg {
  display: none;
}

.checkbox__input:checked + .checkbox__icon .checkbox__svg {
  display: block;
}

.checkbox__input:checked + .checkbox__icon {
  border: none;
}

.checkbox__span {
  display: block;
}

.checkbox__link {
  color: #2196f3;
}

.checkbox__link:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.logo {
  display: block;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: #000000;
  font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .logo--indent {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo--indent {
    margin-right: 88px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--indent {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.logo--black {
  color: #ffffff;
}

.logo__slice {
  color: #2196f3;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.site-nav__link {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    padding-top: 26px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 31px;
    padding-bottom: 30px;
  }
}

.site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  color: #2196f3;
}

.site-nav__link--current::before {
  display: inline-block;
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  bottom: -1px;
  left: 0;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

/*hero*/
.hero {
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 2dpps) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/mobile@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/tablet.jpg);
  }
}

@media screen and (min-width: 481px) and (min-resolution: 2dpps) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/tablet@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-resolution: 2dpps) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(./../images/desctop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../images/desctop@2x.jpg);
  }
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .hero__container {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}

/*BLOCK Features преимуществ*/
@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin: 15px;
    width: calc((100% - 4 * 30px) / 4);
  }
}

.features__thumb {
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .features__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: auto;
    padding-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .features__thumb {
    padding: 25px 125px;
  }
}

@media screen and (min-width: 1200px) {
  .features__thumb {
    padding: 25px 100px;
  }
}

.features__title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .features__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

/*technology*/
.services__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.options__item:not(:last-child) {
  margin-right: 30px;
}

.options__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
  border-radius: 4px;
}

.options__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.options__name {
  display: block;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.options__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

/*TEAM*/
.section--color {
  background: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    margin: -15px;
  }
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .team__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

.team__card {
  text-decoration: none;
  display: block;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team__thumb {
  overflow: hidden;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .team__thumb {
    max-height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .team__thumb {
    max-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    max-height: 260px;
  }
}

.team__img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.team__content {
  padding: 30px 0px;
  text-align: center;
}

.team__employee {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:focus {
  outline: none;
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
}

.social__link:hover {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social__item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

/*BLOCK фильтр по кнопкам*/
@media screen and (max-width: 767px) {
  .filterbox {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .filterbox {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filterbox {
    margin-bottom: 50px;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 767px) {
  .filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin: 0;
  }
}

.clients-section__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 30px;
  color: #212121;
}

@media screen and (max-width: 767px) {
  .clients-section__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.178;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__title {
    margin-bottom: 50px;
  }
}

.brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .brands__item {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .brands__item {
    margin: 15px;
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .brands__item {
    width: calc((100% - 6 * 30px) / 6);
    margin: 15px;
  }
}

.brands__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  height: 90px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brands__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
  color: #2196f3;
}

.brands__link:hover {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.brands__svg {
  fill: currentColor;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .member {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .member {
    margin-left: -30px;
    margin-top: -30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.member > .member-card__item {
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 767px) {
  .member > .member-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .member > .member-card__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .member > .member-card__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.member-card__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.member-card__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.member-card__item:focus {
  outline: none;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.member-card__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
  border-radius: 4px;
}

.member-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .overlay {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
  }
}

.card-content__title {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-content__project {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}

.member-card__link {
  text-decoration: none;
  display: block;
  background: #ffffff;
}

.card-content {
  padding: 20px 24px;
}

/*footer*/
.footer {
  background-color: #2f303a;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .footer__one-section {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__one-section {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__one-section {
    margin: 0;
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__two-section {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__two-section {
    padding-top: 5px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__two-section {
    margin: 0;
    padding: 72px 0;
  }
}

.footer__content {
  display: inline-block;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: #ffffff;
  -webkit-transition: fill 250ms var(--timing-fm), background-color 250ms var(--timing-fm);
  transition: fill 250ms var(--timing-fm), background-color 250ms var(--timing-fm);
}

.footer-social__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  background-color: #2196f3;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-social__link:hover {
  background-color: #2196f3;
  fill: currentColor;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.footer-social__item:not(:first-child) {
  margin-left: 10px;
}

.footer-social__svg {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer__three-section {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__three-section {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer__three-section {
    padding: 72px 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: block;
  }
}

.footer__input {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border var(--timing-fm);
  transition: border var(--timing-fm);
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer__input {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  fill: currentColor;
}

.menu-toggle:hover {
  fill: #2196f3;
}

.menu-toggle:focus {
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px 48px;
  background-color: #ffffff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.mobile-menu {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  display: block;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link--current {
  position: relative;
  color: #2196f3;
}

.mobile-menu__link:hover {
  color: #2196f3;
}

.mobile-menu__link:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #2196f3;
          box-shadow: 0 0 0 1px #2196f3;
  border-radius: 4px;
  color: #2196f3;
}

.contact-menu {
  margin-top: 32px;
  margin-bottom: 62px;
}

.contact-menu__item:not(:first-child) {
  margin-top: 32px;
}

.contact-menu__mail {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #2196f3;
  letter-spacing: 0.02em;
}

.contact-menu__tel {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: inherit;
}

.mobile-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
}

.mobile-social__link {
  color: #2196f3;
}

.mobile-social__item {
  margin-right: 20px;
  position: relative;
}

.mobile-social__item:not(:first-child):before {
  position: absolute;
  top: 0;
  left: -10px;
  content: '';
  display: block;
  height: 22px;
  width: 1px;
  background-color: rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */