.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $decstop) {
    width: 1200px;
  }
}

// .container {
//   width: 1200px;

//   padding-left: 15px;
//   padding-right: 15px;
//   margin: 0 auto;
// }
// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// &--no-padding {
//   padding-bottom: 0px;
//  }
// }

.line {
  max-width: 100%;

  border-bottom: 1px solid #ececec;
}
/*line*/
.site-head {
  display: flex;
  justify-content: space-between;
}

/*navigation*/

.nav {
  display: flex;
  align-items: center;
}

.address {
  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    margin-top: 20px;
  }
  &--flex {
    justify-content: flex-end;
    display: flex;
    align-items: center;
  }
}
