/*hero*/

.hero {
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;

  background-color: $header-footer-fon;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/mobile.jpg);
  @media (min-resolution: 2dpps) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/mobile@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/tablet.jpg);

    @media (min-resolution: 2dpps) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/desktop.jpg);

    @media (min-resolution: 2dpps) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/desctop@2x.jpg);
    }
  }
  background-size: cover;
  background-position: center;
}
.hero__container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    max-width: 360px;
  }

  @media screen and (min-width: $tablet) {
    max-width: 360px;
  }

  @media screen and (min-width: $decstop) {
    max-width: 696px;
  }
}
.hero__title {
  color: $primery-white-color;
  font-weight: 900;

  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    line-height: 1.615;
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $decstop) {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
  }
}
