/*hero*/

.hero {
  margin: 0 auto;
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  min-height: 600px;

  background-color: $header-footer-fon;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../../images/mobile.jpg);
  @media (min-resolution: 2dpps) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/mobile@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/tablet.jpg);

    @media (min-resolution: 2dpps) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/tablet@2x.jpg);
    }
  }
  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../../images/desktop.jpg);

    @media (min-resolution: 2dpps) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images/desctop@2x.jpg);
    }
  }
  background-size: cover;
  background-position: center;
}
.hero__container {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  color: $primery-white-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
