/*technology*/
.services__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 50px;
  color: $title-text-color;

  @media screen and (max-width: 767px) {
    // display: none;
  }
  @media screen and (min-width: $tablet) {
    // display: none;
  }
}
.options {
  @media screen and (max-width: 767px) {
    // display: none;
  }
  @media screen and (min-width: $tablet) {
    // display: none;
  }

  @media screen and (min-width: $decstop) {
    display: flex;
  }
}
.options__item:not(:last-child) {
  margin-right: 30px;
}
.options__thumb {
  position: relative;
}

.options__name {
  display: block;
  position: absolute;
  bottom: 0;
  min-width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0.8;
}
.options__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
