  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primery-white-color: #ffffff;
  $header-footer-fon: #2f303a;
  $nav-text-color: #000000;
  $secondary-btn-bg: #f5f4fa;
  $timing-fm: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  $modal-btn-color: #188ce8;
  $set-gap: 30px;