.footer-contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact__item:not(:last-child) {
  padding-bottom: 9px;
}
.footer-contact__link {
  
  color: rgba(255, 255, 255, 0.6);
  transition: color $timing-fm;

&:focus {
  outline: none;
  border-radius: 4px;
  color: $accent-color;
 }
&:hover {
  color: $accent-color;
 }
}